.git/**
.github/**
.vscode/**
src/**
scripts/**
docs/**
aw-client-js/**
out/src/test/**
out/scripts/**
media/.git
media/banners/**
media/fonts/**
media/png2icns.sh
media/logo/black-monochrome-logo.png
media/logo/logo-128.png
media/logo/logo.icns
media/logo/logo.ico
media/logo/logo.svg
package-lock.json
tsconfig.json
tslint.json
vsc-extension-quickstart.md
.gitignore
.gitmodules
changelog.md
